---
- name: Ensure Homebrew is installed
  ansible.builtin.command:
    cmd: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    creates: /opt/homebrew/bin/brew
  when: ansible_facts['os_family'] == "Darwin"
  become: false

- name: Update Homebrew
  community.general.homebrew:
    update_homebrew: true
  become: false

- name: Install Homebrew formulae
  community.general.homebrew:
    name: "{{ brew_formulae }}"
    state: present
  become: false
  ignore_errors: true

- name: Install Homebrew casks
  community.general.homebrew_cask:
    name: "{{ brew_casks }}"
    state: present
  become: false
  ignore_errors: true
