---
- name: Check if Zap ZSH is installed
  ansible.builtin.stat:
    path: "{{ ansible_env.HOME }}/.local/share/zap"
  register: zap_installed

- name: Ensure .local/share/zap directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.local/share/zap"
    state: directory
    mode: '0755'
  when: not zap_installed.stat.exists

- name: Download Zap ZSH installer
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/zap-zsh/zap/master/install.zsh
    dest: "{{ ansible_env.HOME }}/.local/share/zap/install.zsh"
    mode: '0755'
  when: not zap_installed.stat.exists

- name: Install Zap ZSH
  ansible.builtin.command:
    cmd: zsh "{{ ansible_env.HOME }}/.local/share/zap/install.zsh" --branch release-v1
  when: not zap_installed.stat.exists
  changed_when: true
